<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestAll">

    <test name="catalog">
        <classes>
            <class name="org.books.integration.CatalogServiceIT"/>
        </classes>
    </test>

    <test name="customer">
        <classes>
            <class name="org.books.integration.CustomerServiceIT"/>
        </classes>
    </test>

    <test name="order">
        <classes>
            <class name="org.books.integration.OrderServiceIT"/>
        </classes>
    </test>

</suite>